<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">İletisim</h2>

        <input type="text" class="form-control" required maxlength="100" placeholder="Adınız Soyadınız" name="AdSoyad">
        <br />
        <input type="email" class="form-control" required maxlength="100" placeholder="Email Adresiniz" name="Mail">
        <br />
        <input type="text" class="form-control" required maxlength="100"  placeholder="Mesaj Konusu" name="Konu">
        <br />
        <textarea class="form-control" placeholder="Mesajınızı Yazın" name="Mesaj" required  style="max-height: 300px; min-height:300px;" maxlength="1000"></textarea>
        <br />
        <button class="btn btn-primary w-100 py-3">Mesajı Gönder</button>
    </form>
</div>