@model MvcCv.Models.Entity.TblYeteneklerim
@{
    ViewBag.Title = "YetenekGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Yetenek Güncelleme</h3>
                            </div>
                            <div class="card-body">

                                <form method="post">
                                    <label>ID</label>
                                    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "True" })
                                    <label>Resim</label>
                                    @Html.TextBoxFor(x => x.Resim, new { @class = "form-control" })
                                    <br />
                                    <label>Yetenek</label>
                                    @Html.TextBoxFor(x => x.Yetenek, new { @class = "form-control" })
                                    <br />
                                    <label>Oran</label>
                                    @Html.TextBoxFor(x => x.Oran, new { @class = "form-control" })
                                    <br />
                                    <button class="btn btn-info">Güncelle</button>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

